
      .border {
        /* types of borders */
        border-style: solid;
        /* Many more as dotted, dash, double */
      }
      .border2{
        border-style: solid;
        /* describes width of border */
        border-width: 4px;
        /* determines color of border */
        border-color: blue;
      }
      .dotted {
          /* Displays border as dotted  */
        border-style: dotted;
        border-color: red;
      }
      .dashed {
          /* Displays border as dashed  */
        border-style: dashed;
      }
      .double {
          /* Displays border as double  */
        border-style: double;
      }
      .groove {
          /* Displays border as groove  */
        border-style: groove;
      }
      .ridge {
          /* Displays border as ridge  */
        border-style: ridge;
      }
      .inset {
          /* Displays border as inset  */
        border-style: inset;
      }
      .outset {
          /* Displays border as outset  */
        border-style: outset;
      }
      .none {
          /* Displays border as none  */
        border-style: none;
      }
      .border3{
        border: 2px solid red;
        /* Gives a rounded appearance to the border */
        border-radius: 4px;
      }
      .border4{
        width: 80px;
        height: 80px;
        border: 2px solid red;
        /* 50% Gives a circular appearance to the border */
        border-radius: 50%;
      }